**/node_modules/
temp/
*.lck
/coverage
xunit.xml
*.log
/.vs
localtest.ps1
**/.env
**/.env_vsts
**/.env_tfs
integration/temp.js
integration/fullRegression.ps1
unit.xml
.DS_Store
**/2017.env
**/2018.env
**/vsts.env
**/vstsLinux.env
.yo-rc.json
**/k8s.env
