registry=https://dlb.pkgs.visualstudio.com/_packaging/yeoman/npm/registry
always-auth=true
//dlb.pkgs.visualstudio.com/_packaging/generator-team/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJhNGFkZTBmNi1iNWMzLTQ0YTItYjkwZi1lNWE0OWIzY2YxM2YiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZDU1NDUxMGYtZWY5Ny00YjJkLWEyYmMtYzZiZDFlMGM4MDQ3Iiwic2lkIjoiMjAxY2IxYzMtOTFiNC00ZWY0LTllN2MtMzAzY2M2NmQ1YmMzIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286YmM3NDQyODItYTVkMi00MGRhLTgwOWMtMDk2MDk1YWU5MWYyIiwibmJmIjoxNDkyMzc3MDU5LCJleHAiOjE1MDAxNTMwNTl9.laAXtKBMbQK8R0AMgla2PIhKhd4UITluvE0r9nS79_Wbxl9r5QhThsPHTvE3jl300pIOLmrMTpbMcaMyPDZ4iBN9jpM8l1hBRkycwyHhTs5yM7kKFLz8rxSdTTskjEA_pCRCDoM4wXaCeWVuDuca6nmXQ6S0VVNt2ILFdJFQrUkyNkHZQ2z0fvmjq2wfezfJGNVKHNe3shrzr1KKBILcUOQK8Hvov7IkMP5RCF7hpCU4y8a79T4uemDN0egGbtrd32vvTOI4AZNwXXf798rQ4fYdm6OpNrZPjgLlceAm6SY-V3sSkyGnjekC49BmnPYCvQW8WhSR6n6lRDmDx_mvAA
