
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title><%= name %></title>
    <meta name="description" content="Hello Kubernetes!!!">
    
    <!-- force no browser caching of the page so we make a full request every time the page loads -->
    <meta http-equiv="cache-control" content="no-cache">

    <base href="/">

  </head>
  <body>
    <h1><%= name %></h1>
    <h2>Deployed via Helm chart</h2>
  </body>
</html>
