doctype html
html
 head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title} - <%= name %>
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')    
 body
  div.navbar.navbar-inverse.navbar-fixed-top
   div.container
    div.navbar-header
     button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
     a.navbar-brand(href='/') <%= name %>        
    div.navbar-collapse.collapse
     ul.nav.navbar-nav
      li
       a(href='/') Home
      li
       a(href='/about') About
      li
       a(href='/contact') Contact
  div.container.body-content    
   block content
   hr
   footer
    p &copy; 2016 - <%= name %>
 script(src='/lib/jquery/dist/jquery.js')
 script(src='/lib/bootstrap/dist/js/bootstrap.js')
 script(src='/javascripts/site.js')